<html>
	<head>
		<title>Freesound Wallpapers</title>
		<script src="{% if application_root %}/{{ application_root }}{% endif %}/static/socket.io.min.js"></script>
		<style>
			body {
				background-color: #000;
			}
			
			#content {
   				color: #fff;
   				font-family: sans-serif;
   				z-index: 9999;
   				position: fixed;
				left: 0;
				right: 0;
				padding: 40px;
				padding-top: 10px;
				height: 100%;
				width: 100%;
			}

			#content a {
				color: #eee;
			}

			#background-image {
				/* from https://stackoverflow.com/questions/20039765/how-to-apply-a-css-3-blur-filter-to-a-background-image */
				position: fixed;
				left: 0;
				right: 0;
				z-index: 1;

				display: block;
				background-image: url('{{ background_img_url }}');
				width: 100%;
				height: 100%;

				-webkit-filter: blur(15px);
				-moz-filter: blur(15px);
				-o-filter: blur(15px);
				-ms-filter: blur(15px);
				filter: blur(15px);
			}
			
			#wallpapers_container {
				overflow-y: hidden;
				overflow-x: scroll;
				width: 100%;
				height: 65%;
			}
			
			.wallpaper {
				display: inline-block;
				margin-right:20px;
			}
		</style>
		<script type="text/javascript" charset="utf-8">

			var LOAD_IMAGES_WAIT_TIME = 5000;

			// Establish web sockets connection in specific namespace
		    var socket = io.connect('{{ base_url }}', {'path': '{% if application_root %}/{{ application_root }}{% endif %}/socket.io'});
		    socket.on('connect', function() {
		        socket.emit('connected', {message: 'Client ready!'});
		    });
		    socket.on('connected_response', function(data) {
		        console.log(data.message)
		    });

		    // Update UI on progress report
		    socket.on('progress_report', function(data) {		        
		        var percentageIndicator = document.getElementById('percentage_indicator');
		        percentageIndicator.innerHTML = data.message;

		        if (!data.errors){
		        	
		        	// Display sound info (if not displayed yet)
		        	var soundInfo = document.getElementById('sound_info');
		        	if ((soundInfo.innerHTML.length === 0) && (data.hasOwnProperty('sound_id'))){
		        		soundInfo.innerHTML = '<a href="' + data.sound_url + '" target="_blank">' +  data.sound_name + ' by ' + data.sound_username + '</a>'
						soundInfo.innerHTML += `<br><audio controls>
							<source src="${data.sound_preview_ogg}" type="audio/ogg">
							<source src="${data.sound_preview_mp3}" type="audio/mpeg">
						</audio> `

						// Also update width and height with the values that were really used
						document.getElementById('width').value = data.width;
						document.getElementById('height').value = data.height;
		        	}
		        	
		        	// Display progress info
		        	var total_percentage = data.total_percentage;
		        	if (total_percentage == 100){
			        	percentageIndicator.innerHTML = 'Loading images...';
			        	setTimeout(function(){
			        		percentageIndicator.innerHTML = '';
			        		setNumberWallpapersText(data['n_total_wallpapers']);
			        		displayWallpapers(data);
			        	}, LOAD_IMAGES_WAIT_TIME);  // Wait some ms so that link to static image works properly
			        }
		        }
		    });

		    function displayWallpapers(data){
				Object.keys(data.wallpapers).forEach(function(key) {
        			var color_scheme = key;
        			wallpapers_list = document.getElementById('wallpapers_list');
					
					var div_height = document.getElementById('wallpapers_container').scrollHeight;
					var wallpaper_width = parseInt(div_height * 0.95 * data.width / data.height, 10);

        			wallpapers_list.style.width = ((wallpaper_width + 20) * Object.keys(data.wallpapers).length * 2).toString() + 'px';

        			// Add spectrogram image
        			var div = document.createElement('div');
        			div.className = 'wallpaper';
        			div.style.width = wallpaper_width.toString() + 'px';
					var img = document.createElement('img');
					url = data['wallpapers'][key]['urls']['url_spectrogram'];
					img.src = url;
					img.width = wallpaper_width;
					div.appendChild(img);
					div.innerHTML += `<div><a href="${url}" target="_blank">spectrogram, ${color_scheme}, ${data.width}x${data.height}</a></div>`;
					wallpapers_list.appendChild(div);

					// Add waveform image
					var div = document.createElement('div');
					div.className = 'wallpaper';
					div.style.width = wallpaper_width.toString() + 'px';
					var img = document.createElement('img');
					url = data['wallpapers'][key]['urls']['url_waveform'];
					img.src = url
					img.width = wallpaper_width;
					div.appendChild(img);
					div.innerHTML += `<div><a href="${url}" target="_blank">waveform, ${color_scheme}, ${data.width}x${data.height}</a></div>`;
					wallpapers_list.appendChild(div);	
				});
		    }

		    window.getDevicePixelRatio = function () {
		    		// from https://gist.github.com/homm/b2d8e6a5f35811084894106f421d1f58
				    var ratio = 1;
				    // To account for zoom, change to use deviceXDPI instead of systemXDPI
				    if (window.screen.systemXDPI !== undefined && window.screen.logicalXDPI !== undefined && window.screen.systemXDPI > window.screen.logicalXDPI) {
				        // Only allow for values > 1
				        ratio = window.screen.systemXDPI / window.screen.logicalXDPI;
				    }
				    else if (window.devicePixelRatio !== undefined) {
				        ratio = window.devicePixelRatio;
				    }
				    return ratio;
				};

		    function getDefaultSize(){
				var ratio = window.getDevicePixelRatio();
				var w = screen.width * ratio;
				var h = screen.height * ratio;
				return {w: w, h: h}
		    }

		    function setNumberWallpapersText(number){
		    	document.getElementById('total_wallpapers_label').innerHTML = number + ' wallpapers have been created so far...'
		    }

		    function init(){
		    	defaultSize = getDefaultSize();
		    	document.getElementById('width').value = defaultSize.w;
		    	document.getElementById('height').value = defaultSize.h;
		    	setNumberWallpapersText({{ n_total_wallpapers }});
		    }

		    function numberInRange(number, min, max){
		    	var numberInt = parseInt(number, 10);
		    	if (numberInt < min){
		    		return parseInt(min, 10);
		    	} else if (numberInt > max){
		    		return parseInt(max, 10);
		    	} else {
		    		return numberInt
		    	}
		    }

		    // Trigger wallpaper creation
		    function triggerCreateWallpaper(){
		    	document.getElementById('wallpapers_list').innerHTML = '';
		    	document.getElementById('sound_info').innerHTML = '';
		    	socket.emit('create_wallpaper', {
		    		sound_id: document.getElementById('fsid').value,
		    		width: numberInRange(document.getElementById('width').value, 20, 10000),
		    		height: numberInRange(document.getElementById('height').value, 20, 10000),
		    		fft_size: 2048,
		    	});
		    }
		</script>
	</head>
	<body onload="init()">
		<div id="background-image"></div>
		<div id="content">
			<h1>Freesound Wallpapers</h1>
			<p>This is a tool to create wallpapers from <a href="https://freesound.org" target="_blank">Freesound</a> sounds. It uses Freesound's tools for generating waveform and spectrogram images and makes them huge. Checkout the code repository <a href="https://github.com/ffont/freesound-wallpaper-generator" target="_blank">here</a>. <span id="total_wallpapers_label"></span></p>
			<label for="fsid">Freesound ID:</label>
		    <input id="fsid" name="fsid" step="1" value="{{ sound_id }}" />
		    <label for="width">Width:</label>
		    <input id="width" name="width" step="1" />
		    <label for="height">Height:</label>
		    <input id="height" name="height" step="1" />
		    <input type="button" value="Go!" onclick="triggerCreateWallpaper();">
			<span id="percentage_indicator"></span>
			<p id="sound_info"></p>
			<div id="wallpapers_container"><div id="wallpapers_list"></div></div>
		</div>
</html>