<html>
	<head>
		<title>Freesound Wallpapers</title>
		<script src="{% if application_root %}/{{ application_root }}{% endif %}/static/socket.io.min.js"></script>
		<script type="text/javascript" charset="utf-8">

			// Default sound IDs
			var default_sound_ids = [1234, 433127, 32405, 76907, 262480, 291164, 13800, 53922, 106595];

			// Establish web sockets connection in specific namespace
		    var socket = io.connect('{{ base_url }}', {'path': '{% if application_root %}/{{ application_root }}{% endif %}/socket.io'});
		    socket.on('connect', function() {
		        socket.emit('connected', {message: 'Client ready!'});
		    });
		    socket.on('connected_response', function(data) {
		        console.log(data.message)
		    });

		    // Update UI on progress report
		    socket.on('progress_report', function(data) {		        
		        var percentageIndicator = document.getElementById('percentage_indicator');
		        percentageIndicator.innerHTML = data.message;

		        if (!data.errors){
		        	
		        	// Display sound info (if not displayed yet)
		        	var soundInfo = document.getElementById('sound_info');
		        	if ((soundInfo.innerHTML.length === 0) && (data.hasOwnProperty('sound_id'))){
		        		soundInfo.innerHTML = '<a href="' + data.sound_url + '" target="_blank">' +  data.sound_name + ' by ' + data.sound_username + '</a>'
						soundInfo.innerHTML += `<br><audio controls>
							<source src="${data.sound_preview_ogg}" type="audio/ogg">
							<source src="${data.sound_preview_mp3}" type="audio/mpeg">
						</audio> `

						// Also update width and height with the values that were really used
						document.getElementById('width').value = data.width;
						document.getElementById('height').value = data.height;
		        	}
		        	
		        	// Display progress info
		        	var total_percentage = data.total_percentage;
		        	if (total_percentage == 100){
			        	percentageIndicator.innerHTML = 'Loading images...';

			        	setTimeout(function(){
			        		setNumberWallpapersText(data['n_total_wallpapers']);
			        		percentageIndicator.innerHTML = '';
			        		Object.keys(data['wallpapers']).forEach(function(key) {
			        			var color_scheme = key;
			        			
			        			// Add spectrogram image
								var img = document.createElement('img');
								img.src = data['wallpapers'][key]['urls']['url_spectrogram'];
								document.getElementById('wallpapers_container').appendChild(img);

								// Add waveform image
								var img = document.createElement('img');
								img.src = data['wallpapers'][key]['urls']['url_waveform'];
								document.getElementById('wallpapers_container').appendChild(img);
							});
			        	}, 5000);  // Wait some ms so that link to static image works properly
			        }
		        }
		    });

		    window.getDevicePixelRatio = function () {
		    		// from https://gist.github.com/homm/b2d8e6a5f35811084894106f421d1f58
				    var ratio = 1;
				    // To account for zoom, change to use deviceXDPI instead of systemXDPI
				    if (window.screen.systemXDPI !== undefined && window.screen.logicalXDPI !== undefined && window.screen.systemXDPI > window.screen.logicalXDPI) {
				        // Only allow for values > 1
				        ratio = window.screen.systemXDPI / window.screen.logicalXDPI;
				    }
				    else if (window.devicePixelRatio !== undefined) {
				        ratio = window.devicePixelRatio;
				    }
				    return ratio;
				};

		    function getDefaultSize(){
				var ratio = window.getDevicePixelRatio();
				var w = screen.width * ratio;
				var h = screen.height * ratio;
				return {w: w, h: h}
		    }

		    function setNumberWallpapersText(number){
		    	document.getElementById('total_wallpapers_label').innerHTML = number + ' wallpapers created so far...'
		    }

		    function init(){
		    	defaultSize = getDefaultSize();
		    	document.getElementById('width').value = defaultSize.w;
		    	document.getElementById('height').value = defaultSize.h;
		    	document.getElementById('fsid').value = default_sound_ids[Math.floor(Math.random() * default_sound_ids.length)];
		    	setNumberWallpapersText({{ n_total_wallpapers }});
		    }

		    function numberInRange(number, min, max){
		    	var numberInt = parseInt(number, 10);
		    	if (numberInt < min){
		    		return parseInt(min, 10);
		    	} else if (numberInt > max){
		    		return parseInt(max, 10);
		    	} else {
		    		return numberInt
		    	}
		    }

		    // Trigger wallpaper creation
		    function triggerCreateWallpaper(){
		    	document.getElementById('wallpapers_container').innerHTML = '';
		    	document.getElementById('sound_info').innerHTML = '';
		    	socket.emit('create_wallpaper', {
		    		sound_id: document.getElementById('fsid').value,
		    		width: numberInRange(document.getElementById('width').value, 20, 10000),
		    		height: numberInRange(document.getElementById('height').value, 20, 10000),
		    		fft_size: 2048,
		    	});
		    }
		</script>
	</head>
	<body onload="init()">
		<h1>Freesound Wallpapers</h1>
		<p>Code and description <a href="https://github.com/ffont/freesound-wallpaper-generator">here</a></p>
		<p id="total_wallpapers_label"></p>
		<label for="fsid">Freesound ID:</label>
	    <input id="fsid" name="fsid" step="1" />
	    <label for="width">Width:</label>
	    <input id="width" name="width" step="1" />
	    <label for="height">Height:</label>
	    <input id="height" name="height" step="1" />
	    <input type="button" value="Go!" onclick="triggerCreateWallpaper();">
		<span id="percentage_indicator"></span>
		<p id="sound_info"></p>
		<div id="wallpapers_container"></div>
	</body>
</html>